#root {
  text-align: center;
  margin:0 50px;
}
.quotation{
  background-color: cyan;
  padding: 30px;
}
.quote{
  font-size: 25px;
  font-weight: 600;
  color:rgb(0, 87, 0);
}
.author{
  font-size: 18px;
}
.btn{
  margin: 10px;
  background-color:rgba(254, 220, 24, 0.956);
}
.sbtn{
  margin: 10px;
  background-color:rgb(2, 136, 2);
  color: white
}
.btn:hover{
  background-color:rgba(236, 205, 30, 0.956);
  transition: 0.5s;
}

.sbtn:hover{
  background-color:rgb(0, 120, 0);
  transition: 0.5s;
}
